/* 1.顶部
body {
    background-color:#f7f8fa;
} */
.top {
    overflow: hidden;
    z-index: 1;
    position: fixed;
    top: calc(0rem/64);
    overflow: hidden;
    height: calc(100rem/64);
    width: 100%;
    background-color: #ffffff;
    border-bottom: 1px solid #ececec;
}
.top-zuo{
    float: left;
    margin: calc(15rem/64) ;
    overflow: hidden;
}
.top-you {
    float: right;
    margin: calc(20rem/64) ;
}
.top-you img {
    height:calc(50rem/64) ;
    width: calc(55rem/64);
}
/* 2.什么是信息流广告 */
.what {
    padding: 0 calc(20rem/64);
    overflow: hidden;
}
.what-one img {
    margin-top: calc(120rem/64);
    width: calc(590rem/64);
}
.what-txt h1 {
    font-size: calc(40rem/64);
    padding-top: calc(50rem/64);
}
.what-txt p {
    padding-top: calc(50rem/64);
    font-size: calc(23rem/64);
}

.what-yi {
    float: left;
    padding-top: calc(65rem/64);
    padding-left: calc(30rem/64);
}
.what-yi span {
    font-size: calc(32rem/64);
    color: #4681fb;
    margin-left: calc(55rem/64);
}
.what-yi b,.what-yi b ,.what-yi s {
    color: #4681fb;

}
.what-yi a {
    color: #87878A;
}
.waht-yonghu {
    margin-left: calc(50rem/64);
}
/* 2.您的广告可以展示在 */
.show {
    padding: 0 calc(20rem/64);
    background-color: #f9f9f9;
}
.show-one h1 {
    padding-top: calc(50rem/64);
    font-size: calc(35rem/64);
    margin-left: calc(110rem/64);
}
.show-one img {
    margin-top: calc(50rem/64);
    display: block;
    max-width: 100%;
    height: auto;
}

.show-two h2{
    margin-top: calc(30rem/64);
    font-size: calc(40rem/64);
}
.show-two  p{
    margin-top: calc(20rem/64);
    font-size: calc(20rem/64);
}

.pay-one-biankuang {
    margin-top: calc(40rem/64);
    width: calc(590rem/64);
    height: calc(70rem/64);
    border: 1px solid #3388ff;
    background-color: #3388ff;
    text-align: center;
}
.pay-one-biankuang a {
    font-size: calc(25rem/64);
    line-height: calc(70rem/64);
    color: #ffffff;
}
/* 3.在APP中体验 */
.experience {
    padding: 0 calc(20rem/64);
    background-color: #f9f9f9;


}
.experience-one h1 {
    padding-top: calc(50rem/64);
    font-size: calc(35rem/64);
}

.experi-tu img{
    margin-top: calc(30rem/64);
    margin-left: calc(55rem/64);
    width: calc(60rem/64);
    height: calc(60rem/64);
}
.experi-tu img:nth-child(1) {
    margin-left: calc(10rem/64);
}

.experi-tu-txt a {
    margin-left:calc(25rem/64);
    color: #7d7d7e;
}
.experi-tu-txt a:nth-child(1) {
    margin-left:calc(5rem/64);

}
.experi-tu-txt{
        margin-top: calc(10rem/64);
}
/* 4.结尾 */
.pay-one-biankuang {
    margin-top: calc(40rem/64);
    /* margin-left: calc(20rem/64); */
    width: calc(590rem/64);
    height: calc(70rem/64);
    border: 1px solid #3388ff;
    background-color: #3388ff;
    text-align: center;
}
.pay-one-biankuang a {
    color: seashell;
    line-height: calc(70rem/64);
}
.jiewei {
    padding: 0 calc(20rem/64);
    text-align: center;
    height: calc(220rem/64);
    background-color: black;
    
}
.jiewei p {
    line-height: calc(30rem/64);
    margin-top: calc(40rem/64);
    padding-top: calc(50rem/64);
    font-size: calc(20rem/64);
    color: #7f7f7f;
}

/* 返回顶部 */
.dibu {
    float: left;
}

.dibu-ding {
    margin-top: calc(10rem/64);
    margin-left: calc(25rem/64);
    width: calc(140rem/64);
    height: calc(50rem/64);
    background: url(../image/jiantou.svg) no-repeat;
    background-position: calc(7rem/64) calc(-2rem/64);
    background-size:0.8rem ;
}

.dibu-zixun {
    float: left;
    margin-top: calc(10rem/64);
    width: calc(140rem/64);
    height: calc(50rem/64);
    background: url(../image/dianhua.svg) no-repeat;
    background-position: calc(7rem/64) calc(-2rem/64);
    background-size:0.8rem ;
}
.dibu-zixun a, .dibu-kefu a ,.dibu-ding a {
    color: #666666;
    float: left;
    margin-top: calc(40rem/64);
}
.dibu-kefu {
    float: left;
    width: calc(140rem/64);
    height: calc(50rem/64);
    margin-top: calc(10rem/64);
    background: url(../image/jingling.png) no-repeat;
    background-position: calc(7rem/64) calc(-2rem/64);
    background-size:0.5rem ;
}

.dibu-mianfei {
    float: right;
    background-color: #3388ff;
    height: calc(85rem/64);
    width: calc(191rem/64);
    border: 1px solid #3388ff;
}
.dibu-mianfei a {
    color: #ffffff;
   line-height: calc(85rem/64);
   margin-left: calc(50rem/64);
}

.dibu-anniu {
    background-color: #ffffff;
    padding-bottom: 20px;
    height: calc(50rem/64);
    position: fixed;
    bottom: calc(0rem/64);
    left: calc(0rem/64);
}

